@import "tailwindcss";

@theme {
  --color-primary: #ff1010;
  --color-brand-red: #ff1010;
  --color-brand-black: #000000;
}

@layer base {
  body {
    @apply bg-white text-black;
  }
}

/* Custom scrollbar for chat window */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
